footer {
    padding-top: 196px;
    padding-bottom: 163px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:1024px) {
        flex-direction: column;
    }

    @media screen and (max-width:376px) {
        padding-top: 156px;
        padding-bottom: 63px;
    }

    .access-map {
        width: 48%;
        max-width: 608px;
        height: 100%;
        /* height: 370px; */

        @media screen and (max-width:1024px) {
            width: 100%;
            max-width: 100%;
            height: 440px;
            margin-right: 0;
        }

        iframe {
            width: 100%;
        }
    }

    .access-info {
        display: flex;
        flex-direction: column;
        width: 48%;

        @media screen and (max-width:1024px) {
            width: 100%;
        }

        .footer-logo {

            @media screen and (max-width:1024px) {
                margin: 20px auto 0;
            }

            img {
                width: 263px;
                margin: 25px 0;

                @media screen and (max-width:1024px) {
                    width: 183px;
                    margin: 20px;
                }
            }
            
            p {
                font: normal normal normal 16px/38px Noto Sans JP;
                font-family: 'Noto Sans JP', sans-serif;
                margin-bottom: 25px;
                display: inline-block;

                &:first-of-type {
                    margin-right: 16px;
                    text-align: center;
                }

                @media screen and (max-width:1024px) {
                   display: block;
                   margin-bottom: 0;
                   font: normal normal normal 16px/24px Noto Sans JP;
                }

                @media screen and (max-width:376px) {
                    text-align: center;
                }
            }
        }

        .tel {
            font: normal normal bold 24px/24px Noto Sans JP;
            font-family: 'Noto Sans JP', sans-serif;
            color: $text-accentcolor;
            margin-bottom: 28px;

            @media screen and (max-width:1024px) {
                text-align: center;
                font: normal normal bold 16px/16px Noto Sans JP;
            }

            img {
                float: left;
                margin-right: 5px;

                @media screen and (max-width:1024px) {
                    float: none;
                    display: inline-block;
                    width: 20px;
                    margin-right: 0;
                }
            }
        }

        .medical-time {
            width: 100%;
            border-top: 2px solid #E7E7E7;
            border-bottom: 2px solid #E7E7E7;
            padding-bottom: 20px;
            padding-top: 20px;

            @media screen and (max-width:1024px) {
                flex-flow: column;
            }

            dl {
                display: flex;
                flex-flow: row;

                @media screen and (max-width:1024px) {
                    flex-flow: column;
                    text-align: center;
                }

                dt {
                    font: normal normal normal 14px/38px Noto Sans JP;
                    font-family: 'Noto Sans JP', sans-serif;
                    border-right: 2px solid #E7E7E7;
                    width: 100px;

                    @media screen and (max-width:1024px) {
                        border: none;
                        align-self: center;
                        font: normal normal normal 12px/32px Noto Sans JP;
                    }
                }

                .notice-box {
                    display: flex;

                    @media screen and (max-width:1024px) {
                        border: none;
                        align-self: center;
                    }
                }

                dd {
                    font: normal normal normal 14px/38px Noto Sans JP;
                    font-family: 'Noto Sans JP', sans-serif;

                    @media screen and (max-width:1024px) {
                        font: normal normal normal 12px/32px Noto Sans JP;
                    }
                }
                dd:nth-of-type(1) {
                    margin: 0 28px;
                    
                    span {
                        background: linear-gradient(transparent 80%, #99E5A5 10%);
                    }

                    @media screen and (max-width:376px) {
                        margin: 0 10px;
                    }
                }
                dd:nth-of-type(2) {
                    margin-right: 17px;
                }


            }
            .holiday {
                margin-top: 20px;

                @media screen and (max-width:1024px) {
                    margin: 20px;
                }
            }
            
        }
    }

    .copyright {
        text-align: right;
        font: normal normal normal 11px/38px Noto Sans JP;
        font-family: 'Noto Sans JP', sans-serif;

        @media screen and (max-width:1024px) {
            align-self: center;
        }
    }
}