header {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width:376px) {
        height: 50px;
        padding: 5px;
    }

    .logo {
        width: 263px;
        height: 73px;

        @media screen and (max-width:1024px) {
            width: 183px;
            height: 53px;
        }

        @media screen and (max-width:376px) {
            width: 80px;
            height: 25px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .tel {

        .reception-time {
            margin-bottom: 7px;

            @media screen and (max-width:376px) {
                letter-spacing: -0.8px;
            }
        }

        .tel-number {
            text-align: right;
            font: normal normal bold 24px/24px Noto Sans JP;
            font-family: 'Noto Sans JP', sans-serif;
            color: $text-accentcolor;
            font-weight: bold;

            @media screen and (max-width:376px) {
                font: normal normal bold 18px/18px Noto Sans JP;
            }
            
            img {
                display: inline-block;
                margin-right: 7px;
                vertical-align: bottom;

                @media screen and (max-width:376px) {
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }
            }
        }
    }
        
}