header {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width:376px) {
        height: 50px;
        /* padding: 5px; */
    }

    .logo {
        width: 263px;
        height: 80px;

        @media screen and (max-width:1024px) {
            width: 183px;
            height: 53px;
        }

        @media screen and (max-width:376px) {
            width: 80px;
            height: 25px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .tel {

        .reception-time {
            margin-bottom: 9px;

            @media screen and (max-width:376px) {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                /* margin-top: 5px; */
                margin-bottom: 0;
                letter-spacing: -1px;
            }

            span {
                &:first-of-type {
                    margin-right: 10px;

                    @media screen and (max-width:376px) {
                        margin-right: 0;
                        margin-bottom: 3px;
                    }
                }
            }
        }

        .tel-number {
            text-align: right;
            font: normal normal bold 24px/24px Noto Sans JP;
            font-family: 'Noto Sans JP', sans-serif;
            color: $text-accentcolor;
            font-weight: bold;

            @media screen and (max-width:1025px) {
                font: normal normal bold 16px/16px Noto Sans JP;
            }

            @media screen and (max-width:376px) {
                font: normal normal bold 18px/18px Noto Sans JP;
                margin-top: 0;
                text-align: left;
            }
            
            img {
                display: inline-block;
                margin-right: 7px;
                vertical-align: bottom;
                position: relative;
                top: 3px;
                left: 5px;

                @media screen and (max-width:1025px) {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                    vertical-align: middle;
                    top: 0;
                }

                @media screen and (max-width:376px) {
                    width: 15px;
                    height: 15px;
                    left: 0;
                    margin-right: 2px;
                }
            }
        }
    }
        
}