@charset "UTF-8";
/* A Modern CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ブレークポイント */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

html, body, h1, h2, h3 {
  font-family: 'Noto Sans JP', sans-serif;
  color: #444444;
}

.inner {
  width: 80%;
  max-width: 1180px;
  margin: 0 auto;
}

@media screen and (max-width: 415px) {
  .inner {
    width: 85%;
  }
}

p {
  font: normal normal normal 14px/19px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0px;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  p {
    font: normal normal normal 12px/16px Noto Sans JP;
  }
}

@media screen and (max-width: 415px) {
  p {
    font: normal normal normal 8px/10px Noto Sans JP;
    letter-spacing: -0.8px;
  }
}

header {
  height: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 415px) {
  header {
    height: 80px;
    /* padding: 5px; */
  }
}

header .logo {
  width: 263px;
  height: 80px;
}

@media screen and (max-width: 1024px) {
  header .logo {
    width: 183px;
    height: 53px;
  }
}

@media screen and (max-width: 415px) {
  header .logo {
    width: 120px;
    height: 42px;
  }
}

header .logo img {
  width: 100%;
  height: 100%;
}

header .tel .reception-time {
  margin-bottom: 9px;
}

@media screen and (max-width: 415px) {
  header .tel .reception-time {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-bottom: 0;
    letter-spacing: 0;
    text-align: right;
  }
}

header .tel .reception-time span:first-of-type {
  margin-right: 10px;
}

@media screen and (max-width: 415px) {
  header .tel .reception-time span:first-of-type {
    margin-right: 0;
    margin-bottom: 1px;
  }
}

header .tel .tel-number {
  text-align: right;
  font: normal normal bold 24px/24px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
  color: #21A937;
  font-weight: bold;
}

@media screen and (max-width: 1025px) {
  header .tel .tel-number {
    font: normal normal bold 16px/16px Noto Sans JP;
  }
}

@media screen and (max-width: 415px) {
  header .tel .tel-number {
    font: normal normal bold 16px/16px Noto Sans JP;
    margin-top: 2px;
    text-align: left;
  }
}

header .tel .tel-number img {
  display: inline-block;
  margin-right: 7px;
  vertical-align: bottom;
  position: relative;
  top: 3px;
  left: 5px;
}

@media screen and (max-width: 1025px) {
  header .tel .tel-number img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    top: 0;
  }
}

@media screen and (max-width: 415px) {
  header .tel .tel-number img {
    width: 15px;
    height: 15px;
    left: 0;
    margin-right: 2px;
    top: -1px;
  }
}

footer {
  padding-top: 196px;
  padding-bottom: 163px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 415px) {
  footer {
    padding-top: 156px;
    padding-bottom: 63px;
  }
}

footer .access-map {
  width: 48%;
  max-width: 608px;
  height: 100%;
  /* height: 370px; */
}

@media screen and (max-width: 1024px) {
  footer .access-map {
    width: 100%;
    max-width: 100%;
    height: 440px;
    margin-right: 0;
  }
}

footer .access-map iframe {
  width: 100%;
}

footer .access-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}

@media screen and (max-width: 1024px) {
  footer .access-info {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  footer .access-info .footer-logo {
    margin: 20px auto 0;
  }
}

footer .access-info .footer-logo img {
  width: 263px;
  margin: 0 0 26px;
}

@media screen and (max-width: 1024px) {
  footer .access-info .footer-logo img {
    width: 183px;
    margin: 20px;
  }
}

footer .access-info .footer-logo p {
  font: normal normal normal 16px/38px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 28px;
  display: inline-block;
  text-align: center;
}

footer .access-info .footer-logo p:first-of-type {
  margin-right: 17px;
  text-align: center;
}

footer .access-info .footer-logo p:nth-child(3) {
  margin-bottom: 5px;
}

footer .access-info .footer-logo p:not(:first-of-type) {
  text-align: left;
}

@media screen and (max-width: 1025px) {
  footer .access-info .footer-logo p:not(:first-of-type) {
    text-align: center;
  }
}

@media screen and (max-width: 1025px) {
  footer .access-info .footer-logo p {
    display: block;
    margin-bottom: 0;
    font: normal normal normal 16px/24px Noto Sans JP;
  }
}

@media screen and (max-width: 415px) {
  footer .access-info .footer-logo p {
    text-align: center;
  }
}

footer .access-info .footer-logo .tel {
  font: normal normal bold 24px/24px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
  color: #21A937;
  margin-bottom: 29px;
  display: block;
}

@media screen and (max-width: 1025px) {
  footer .access-info .footer-logo .tel {
    font: normal normal bold 16px/16px Noto Sans JP;
    padding-top: 2px;
    width: 135px;
    margin: 0 auto 29px;
  }
}

@media screen and (max-width: 415px) {
  footer .access-info .footer-logo .tel {
    width: 125px;
    margin: 0 auto 29px;
  }
}

footer .access-info .footer-logo .tel img {
  float: left;
  margin-right: 5px;
  width: 25px;
  padding-top: 2px;
}

@media screen and (max-width: 1025px) {
  footer .access-info .footer-logo .tel img {
    display: inline-block;
    width: 18px;
    margin: 0;
    padding-top: 1px;
  }
}

@media screen and (max-width: 415px) {
  footer .access-info .footer-logo .tel img {
    display: inline-block;
    width: 18px;
    margin: 0;
    padding-top: 1px;
  }
}

footer .access-info .medical-time {
  width: 100%;
  border-top: 2px solid #E7E7E7;
  border-bottom: 2px solid #E7E7E7;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media screen and (max-width: 1024px) {
  footer .access-info .medical-time {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

footer .access-info .medical-time dl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
}

@media screen and (max-width: 1024px) {
  footer .access-info .medical-time dl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }
}

footer .access-info .medical-time dl dt {
  font: normal normal normal 14px/38px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
  border-right: 2px solid #E7E7E7;
  width: 100px;
}

@media screen and (max-width: 1024px) {
  footer .access-info .medical-time dl dt {
    border: none;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    font: normal normal normal 12px/32px Noto Sans JP;
  }
}

footer .access-info .medical-time dl .notice-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  footer .access-info .medical-time dl .notice-box {
    border: none;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    align-self: center;
  }
}

footer .access-info .medical-time dl dd {
  font: normal normal normal 14px/38px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 1024px) {
  footer .access-info .medical-time dl dd {
    font: normal normal normal 12px/32px Noto Sans JP;
  }
}

footer .access-info .medical-time dl dd:nth-of-type(1) {
  margin: 0 28px;
}

footer .access-info .medical-time dl dd:nth-of-type(1) span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(10%, #99E5A5));
  background: -webkit-linear-gradient(transparent 80%, #99E5A5 10%);
  background: linear-gradient(transparent 80%, #99E5A5 10%);
}

@media screen and (max-width: 415px) {
  footer .access-info .medical-time dl dd:nth-of-type(1) {
    margin: 0 10px;
  }
}

footer .access-info .medical-time dl dd:nth-of-type(2) {
  margin-right: 17px;
}

footer .access-info .medical-time .holiday {
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  footer .access-info .medical-time .holiday {
    margin: 20px;
  }
}

footer .copyright {
  text-align: right;
  font: normal normal normal 11px/38px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 1024px) {
  footer .copyright {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
}

.p-mainvisual {
  width: 100%;
  height: 947px;
  display: block;
  background-image: url("../img/fv.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 162px;
}

@media screen and (max-width: 1024px) {
  .p-mainvisual {
    margin-bottom: 50px;
    height: 947px;
    background-image: url("../img/fv@2x_tb.jpg");
  }
}

@media screen and (max-width: 415px) {
  .p-mainvisual {
    height: 500px;
    background-position: 70% 0;
    background-image: url("../img/fv@2x_sp.jpg");
  }
}

.p-mainvisual h1 {
  display: block;
  width: 80%;
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.p-mainvisual h1 span {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  display: block;
  position: absolute;
  width: 102px;
  height: 565px;
  padding: 20px 10px;
  background-color: #ffffff;
  text-align: left;
  font: normal normal bold 28px/82px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.28em;
}

@media screen and (max-width: 1024px) {
  .p-mainvisual h1 span {
    font: normal normal bold 24px/82px Noto Sans JP;
  }
}

@media screen and (max-width: 415px) {
  .p-mainvisual h1 span {
    font: normal normal bold 18px/0px Noto Sans JP;
    width: 42px;
    height: 360px;
    padding: 10px 20px;
  }
}

.p-mainvisual h1 .ttl1 {
  display: block;
  position: absolute;
  top: 133px;
  left: 20%;
}

@media screen and (max-width: 1024px) {
  .p-mainvisual h1 .ttl1 {
    left: 200px;
  }
}

@media screen and (max-width: 415px) {
  .p-mainvisual h1 .ttl1 {
    top: 30px;
    left: 80px;
  }
}

.p-mainvisual h1 .ttl2 {
  top: 133px;
  left: 5%;
}

@media screen and (max-width: 1024px) {
  .p-mainvisual h1 .ttl2 {
    left: 50px;
  }
}

@media screen and (max-width: 415px) {
  .p-mainvisual h1 .ttl2 {
    top: 30px;
    left: 10px;
  }
}

.p-mainvisual h1 .ttl2 strong {
  color: #21A937;
}

.p-concept {
  height: 420px;
  margin-bottom: 82px;
  /* タブレットサイズ */
}

@media screen and (max-width: 1024px) {
  .p-concept {
    height: auto;
    margin-bottom: 0;
  }
}

.p-concept img {
  width: 60%;
  max-width: 690px;
}

@media screen and (max-width: 1300px) {
  .p-concept img {
    width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .p-concept img {
    width: 100%;
    margin-bottom: 60px;
  }
}

.p-concept article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  /* タブレットサイズ */
}

@media screen and (max-width: 1024px) {
  .p-concept article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-concept .concept-text {
  width: 45%;
  max-width: 390px;
  /* タブレットサイズ */
}

@media screen and (max-width: 1025px) {
  .p-concept .concept-text {
    text-align: center;
    width: 80%;
    max-width: 80%;
  }
}

.p-concept .concept-text h2 {
  font: normal normal bold 24px/32px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 1025px) {
  .p-concept .concept-text h2 {
    font: normal normal bold 24px/35px Noto Sans JP;
    max-width: 300px;
    display: inline-block;
  }
}

@media screen and (max-width: 415px) {
  .p-concept .concept-text h2 {
    font: normal normal bold 18px/24px Noto Sans JP;
  }
}

.p-concept .concept-text h2 span {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(25%, #99E5A5));
  background: -webkit-linear-gradient(transparent 70%, #99E5A5 25%);
  background: linear-gradient(transparent 70%, #99E5A5 25%);
  padding-right: 5px;
}

.p-concept .concept-text h2 span:first-child {
  margin-bottom: 35px;
  padding-right: 5px;
}

@media screen and (max-width: 415px) {
  .p-concept .concept-text h2 span:first-child {
    margin-bottom: 16px;
  }
}

.p-concept .concept-text h2 span:last-child {
  margin-bottom: 37px;
  padding-left: 5px;
  padding-right: 20px;
}

@media screen and (max-width: 415px) {
  .p-concept .concept-text h2 span:last-child {
    margin-bottom: 20px;
  }
}

.p-concept .concept-text p {
  font: normal normal normal 16px/38px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 1025px) {
  .p-concept .concept-text p {
    margin: 0 auto 60px;
    width: 100%;
    max-width: 420px;
  }
}

@media screen and (max-width: 415px) {
  .p-concept .concept-text p {
    font: normal normal normal 11px/24px Noto Sans JP;
  }
}

.p-contents {
  width: 100%;
  background-color: #F5FCF8;
  text-align: center;
}

.p-contents h2 {
  display: inline-block;
  font: normal normal bold 24px/38px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 80px auto 73px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(25%, #99E5A5));
  background: -webkit-linear-gradient(transparent 70%, #99E5A5 25%);
  background: linear-gradient(transparent 70%, #99E5A5 25%);
  padding: 0 5px;
}

@media screen and (max-width: 1024px) {
  .p-contents h2 {
    margin: 80px auto 68px;
  }
}

@media screen and (max-width: 415px) {
  .p-contents h2 {
    font: normal normal bold 18px/24px Noto Sans JP;
    margin: 40px auto 34px;
  }
}

.p-contents p {
  font: normal normal normal 16px/38px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 35px;
}

@media screen and (max-width: 415px) {
  .p-contents p {
    font: normal normal bold 12px/24px Noto Sans JP;
  }
}

.p-contents .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .p-contents .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-contents .content article {
  max-width: 380px;
  width: 32%;
  max-height: 1591px;
  /* max-height: 630px; */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #C9C9C9;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-bottom: 180px;
}

@media screen and (max-width: 1024px) {
  .p-contents .content article {
    max-width: 100%;
    width: 100%;
    height: 470px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 415px) {
  .p-contents .content article {
    height: 430px;
  }
}

.p-contents .content article h3 {
  margin: 42px auto 48px;
  font: normal normal bold 24px/38px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 415px) {
  .p-contents .content article h3 {
    font: normal normal bold 16px/20px Noto Sans JP;
  }
}

.p-contents .content article p {
  padding: 0 30px;
  padding-top: 0;
  margin: 0;
  font: normal normal bold 16px/38px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  text-align: left;
  vertical-align: top;
}

@media screen and (max-width: 1024px) {
  .p-contents .content article p {
    text-align: center;
  }
}

@media screen and (max-width: 415px) {
  .p-contents .content article p {
    font: normal normal bold 12px/24px Noto Sans JP;
  }
}

.p-contents .content article img {
  display: block;
  width: 187px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 21%;
}

@media screen and (max-width: 1150px) {
  .p-contents .content article img {
    left: 15%;
  }
}

@media screen and (max-width: 1024px) {
  .p-contents .content article img {
    left: 38%;
  }
}

@media screen and (max-width: 415px) {
  .p-contents .content article img {
    left: 22%;
  }
}

@media screen and (max-width: 1024px) {
  .p-contents .content article:last-child {
    margin-bottom: 0;
  }
}

.p-info {
  width: 100%;
  background-color: #F5FCF8;
  padding-bottom: 112px;
}

.p-info h2 {
  padding: 83px 0 71px;
  font: normal normal bold 24px/38px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}

.p-info h2 span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(25%, #99E5A5));
  background: -webkit-linear-gradient(transparent 70%, #99E5A5 25%);
  background: linear-gradient(transparent 70%, #99E5A5 25%);
  padding-right: 5px;
}

@media screen and (max-width: 415px) {
  .p-info h2 {
    font: normal normal bold 18px/28px Noto Sans JP;
    padding: 50px 0 41px;
  }
}

.p-info .info-text {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 29px 66px;
  margin: 0 auto;
}

@media screen and (max-width: 415px) {
  .p-info .info-text {
    padding: 0 10px;
  }
}

.p-info .info-text li {
  padding: 20px 0;
  border-bottom: 2px solid #E7E7E7;
  /* dt {
                max-width: 200px;
                display: flex;

                @media screen and (max-width:1024px) {
                    display: block;
                    margin: 0 auto;
                }

                p {
                    &:first-child {
                        color: $text-accentcolor;
                        width: 86px;
                        display: inline-block;
                        float: left;
                        font: normal normal bold 16px/38px Noto Sans JP;
                        font-family: 'Noto Sans JP', sans-serif;
                        margin-right: 30px;

                        @media screen and (max-width:1024px) {
                            display: block;
                            float: none;
                            margin: 0 atuo;
                        }

                        @media screen and (max-width:415px) {
                            margin-right: 0;
                            text-align: center;
                        }
                    }

                    &:last-child {
                        font: normal normal bold 12px/38px Noto Sans JP;
                        font-family: 'Noto Sans JP', sans-serif;
                        color: #fff;
                        background: #444444 0% 0% no-repeat padding-box;
                        width: 80px;
                        text-align: center;
                        height: 38px;

                        @media screen and (max-width:1024px) {
                            margin: 20px 0;
                            font: normal normal bold 12px/25px Noto Sans JP;
                            height: 25px;
                        }

                        @media screen and (max-width:415px) {
                            margin: 10px 0;
                        }
                    }
                }
                
            }
            dd {
                font: normal normal bold 16px/38px Noto Sans JP;
                font-family: 'Noto Sans JP', sans-serif;
                max-width: 780px;
                margin-left: 30px;

                @media screen and (max-width:1024px) {
                    text-align: center;
                    max-width: 100%;
                }

                @media screen and (max-width:415px) {
                    font: normal normal bold 12px/24px Noto Sans JP;
                    margin-left: 0;
                    padding: 10px;
                }
            } */
}

@media screen and (max-width: 1024px) {
  .p-info .info-text li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 415px) {
  .p-info .info-text li {
    padding: 10px 0;
  }
}

.p-info .info-text li time {
  color: #21A937;
  width: 86px;
  display: inline-block;
  float: left;
  font: normal normal bold 16px/38px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
  margin-right: 30px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .p-info .info-text li time {
    display: block;
    float: none;
    margin: 0 auto;
  }
}

@media screen and (max-width: 415px) {
  .p-info .info-text li time {
    text-align: center;
  }
}

.p-info .info-text li .info-category {
  display: inline-block;
  max-width: 200px;
  font: normal normal bold 12px/38px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
  background: #444444 0% 0% no-repeat padding-box;
  width: 80px;
  text-align: center;
  height: 38px;
  margin-right: 30px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .p-info .info-text li .info-category {
    margin: 20px auto;
    font: normal normal bold 12px/25px Noto Sans JP;
    height: 25px;
    display: block;
  }
}

@media screen and (max-width: 415px) {
  .p-info .info-text li .info-category {
    margin: 10px auto;
  }
}

.p-info .info-text li .info-desc {
  line-height: 38px;
}

@media screen and (max-width: 1024px) {
  .p-info .info-text li .info-desc {
    text-align: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 415px) {
  .p-info .info-text li .info-desc {
    font: normal normal bold 12px/24px Noto Sans JP;
    margin-left: 0;
    padding: 10px;
  }
}

.p-info .info-text a {
  text-align: right;
  font: normal normal bold 16px/38px Noto Sans JP;
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 40px;
}

@media screen and (max-width: 1024px) {
  .p-info .info-text a {
    margin: 30px 0 15px;
  }
}

@media screen and (max-width: 415px) {
  .p-info .info-text a {
    margin: 10px 10px 15px 0;
  }
}
/*# sourceMappingURL=style.css.map */