.p-contents {
    width: 100%;
    background-color: $bg-accetntcolor;
    text-align: center;

    h2 {
        display: inline-block;
        font: normal normal bold 24px/38px Noto Sans JP;
        font-family: 'Noto Sans JP', sans-serif;
        margin: 80px auto 73px;
        background: linear-gradient(transparent 70%, #99E5A5 25%);
        padding: 0 5px;

        @media screen and (max-width:1024px) {
            margin: 80px auto 68px;
        }

        @media screen and (max-width:376px) {
            font: normal normal bold 18px/24px Noto Sans JP;
            margin: 40px auto 34px;
        }
    }

    p {
        font: normal normal normal 16px/38px Noto Sans JP;
        font-family: 'Noto Sans JP', sans-serif;
        margin-bottom: 34px;

        @media screen and (max-width:376px) {
            font: normal normal bold 12px/24px Noto Sans JP;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width:1024px) {
            flex-direction: column;
        }

        article {
            max-width: 380px;
            width: 32%;
            max-height: 1591px;  
            /* max-height: 630px; */
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #C9C9C9;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            position: relative;
            padding-bottom: 180px;

            @media screen and (max-width:1024px) {
                max-width: 100%;
                width: 100%;
                height: 470px;
                margin-bottom: 30px;
            }

            @media screen and (max-width:376px) {
                height: 420px;
            }

            h3 {
                margin: 42px auto 48px;
                font: normal normal bold 24px/38px Noto Sans JP;
                font-family: 'Noto Sans JP', sans-serif;

                @media screen and (max-width:376px) {
                    font: normal normal bold 16px/20px Noto Sans JP;
                }
            }

            p {
                padding: 0 30px;
                padding-top: 0;

                margin: 0;
                font: normal normal bold 16px/38px Noto Sans JP;
                font-family: 'Noto Sans JP', sans-serif;
                align-self: flex-start;
                text-align: left;
                vertical-align: top;

                @media screen and (max-width:1024px) {
                    text-align: center;
                }

                @media screen and (max-width:376px) {
                    font: normal normal bold 12px/24px Noto Sans JP;
                }
            }
            
            img {
                display: block;
                width: 187px;
                margin: 0 auto;
                position: absolute;
                bottom: 0;
                left: 20%;

                @media screen and (max-width:1150px) {
                    left: 15%;
                }

                @media screen and (max-width:1024px) {
                    left: 38%;
                }

                @media screen and (max-width:376px) {
                    left: 20%
                }
            }
            @media screen and (max-width:1024px) {
                &:last-child {
                    margin-bottom: 0;
                }
                
            }
        }
    }
    
}