.p-concept {
    height: 420px;
    margin-bottom: 82px;

    /* タブレットサイズ */
    @media screen and (max-width:1024px) {
        height: auto;
        margin-bottom: 0;
    }

    img {
        width: 60%;
        max-width: 690px;

        @media screen and (max-width:1300px) {
            width: 50%;
        }

        @media screen and (max-width:1024px) {
            width: 100%;
            margin-bottom: 60px;
        }
    }

    article {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        /* タブレットサイズ */
        @media screen and (max-width:1024px) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    .concept-text {
        width: 45%;
        max-width: 390px;

        /* タブレットサイズ */
        @media screen and (max-width:1025px) {
            text-align: center;
            width: 80%;
            max-width: 80%;
        }
        
        h2 {
            font: normal normal bold 24px/32px Noto Sans JP;
            font-family: 'Noto Sans JP', sans-serif;

            @media screen and (max-width:1025px) {
                font: normal normal bold 24px/35px Noto Sans JP;
                max-width: 300px;
                display: inline-block;
            }

            @media screen and (max-width:376px) {
                font: normal normal bold 18px/24px Noto Sans JP;
            }

            span {
                display: inline-block;
                background: linear-gradient(transparent 70%, #99E5A5 25%);
                padding-right: 5px;
                

                &:first-child {
                    margin-bottom: 35px;
                    padding-left: 20px;
                    padding-right: 5px;

                    @media screen and (max-width:376px) {
                        margin-bottom: 16px;
                    }
                }
                &:last-child {
                    margin-bottom: 37px;
                    padding-left: 5px;
                    padding-right: 20px;

                    @media screen and (max-width:376px) {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        p { 
            font: normal normal normal 16px/38px Noto Sans JP;
            font-family: 'Noto Sans JP', sans-serif;

            @media screen and (max-width:1025px) {
                margin: 0 auto 60px;
                width: 100%;
                max-width:  420px;
            }

            @media screen and (max-width:376px) {
                font: normal normal normal 11px/24px Noto Sans JP;
            }
        }
    }
}