.p-info {
    width: 100%;
    background-color: $bg-accetntcolor;
    padding-bottom: 112px;

    h2 {
        padding: 82px 0 70px;
        font: normal normal bold 24px/38px Noto Sans JP;
        font-family: 'Noto Sans JP', sans-serif;
        text-align: center;

        span {
            background: linear-gradient(transparent 70%, #99E5A5 25%);
            padding-right: 5px;
        }

        @media screen and (max-width:376px) {
            font: normal normal bold 18px/28px Noto Sans JP;
            padding: 50px 0 41px;
        }
    }

    .info-text {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 30px;
        display: flex;
        flex-flow: column;
        padding: 29px 66px;

        @media screen and (max-width:376px) {
            padding: 0 10px;
        }

        dl {
            display: flex;
            padding: 20px 0;
            border-bottom: 2px solid #E7E7E7;

            @media screen and (max-width:1024px) {
                flex-direction: column;
            }

            @media screen and (max-width:376px) {
                padding: 10px 0;
            }

            dt {
                max-width: 200px;
                display: flex;

                @media screen and (max-width:1024px) {
                    display: block;
                    margin: 0 auto;
                }

                p {
                    &:first-child {
                        color: $text-accentcolor;
                        width: 86px;
                        display: inline-block;
                        float: left;
                        font: normal normal bold 16px/38px Noto Sans JP;
                        font-family: 'Noto Sans JP', sans-serif;
                        margin-right: 30px;

                        @media screen and (max-width:1024px) {
                            display: block;
                            float: none;
                            margin: 0 atuo;
                        }

                        @media screen and (max-width:376px) {
                            margin-right: 0;
                            text-align: center;
                        }
                    }

                    &:last-child {
                        font: normal normal bold 12px/38px Noto Sans JP;
                        font-family: 'Noto Sans JP', sans-serif;
                        color: #fff;
                        background: #444444 0% 0% no-repeat padding-box;
                        width: 80px;
                        text-align: center;
                        height: 38px;
                        /* margin-right: 30px; */

                        @media screen and (max-width:1024px) {
                            margin: 20px 0;
                            font: normal normal bold 12px/25px Noto Sans JP;
                            height: 25px;
                        }

                        @media screen and (max-width:376px) {
                            margin: 10px 0;
                        }
                    }
                }
                
                
            }
            dd {
                font: normal normal bold 16px/38px Noto Sans JP;
                font-family: 'Noto Sans JP', sans-serif;
                max-width: 780px;
                margin-left: 30px;

                @media screen and (max-width:1024px) {
                    text-align: center;
                    max-width: 100%;
                }

                @media screen and (max-width:376px) {
                    font: normal normal bold 12px/24px Noto Sans JP;
                    margin-left: 0;
                    padding: 10px;
                }
            }
            
        }
        a {
            text-align: right;
            font: normal normal bold 16px/38px Noto Sans JP;
            font-family: 'Noto Sans JP', sans-serif;
            margin-top: 40px;
            
            @media screen and (max-width:1024px) {
                margin: 30px 0 15px;
            }

            @media screen and (max-width:376px) {
                margin: 10px 10px 15px 0;
            }
        }
    }
}