.p-mainvisual {
    width: 100%;
    height: 974px;
    display: block;
    position: relative;

    background-image: url("../img/fv.png");
    background-size: cover; 
    background-position: center;
    margin-bottom: 162px;

    @media screen and (max-width:1024px) {
        margin-bottom: 50px;
        height: 947px;
    }

    @media screen and (max-width:376px) {
        height: 500px;
        background-position: 70% 0;
    }

    h1 {

        span {
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            display: block;
            position: absolute;
            width: 102px;
            height: 565px;
            padding: 20px 37px;
            background-color: $bg-white;
            text-align: left;
            font: normal normal bold 28px/34px Noto Sans JP;
            font-family: 'Noto Sans JP', sans-serif;
            letter-spacing: 3px;

            @media screen and (max-width:1024px) {
                font: normal normal bold 24px/30px Noto Sans JP;
            }

            @media screen and (max-width:376px) {
                font: normal normal bold 18px/0px Noto Sans JP;
                width: 42px;
                height: 360px;
                padding: 10px 20px;
            }
        }

        .ttl1 {
            top: 133px;
            left: 393px;

            @media screen and (max-width:1024px) {
                left: 200px;
            }

            @media screen and (max-width:376px) {
                top: 30px;
                left: 120px;
            }
        }
        .ttl2 {
            top: 133px;
            left: 211px;

            @media screen and (max-width:1024px) {
                left: 50px;
            }

            @media screen and (max-width:376px) {
                top: 30px;
                left: 40px;
            }

            strong {
                color: $text-accentcolor;
            }
        }
    }
}